<a href="https://colab.research.google.com/github/kunalga/pythonEveryDay/blob/main/day16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Car:
  pass

In [ ]:
audi = Car()

In [ ]:
audi.name = "x-60"
audi.year = 2009

In [ ]:
bmw = Car()

In [ ]:
class Car:
  def __init__(self, name, year):
    self.name = name
    self.year = year
  def age(self, current_year):
    return current_year - self.year
  def __str__(self):
    return "Car name is {} and year is {}".format(self.name, self.year)

In [ ]:
audi = Car("x-60", 2009)

In [ ]:
print(audi)

Car name is x-60 and year is 2009

In [ ]:
class Student:
    def __init__(self, name, rollno, joining_date, current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_date = joining_date
        self.current_topic = current_topic

    def cur_topic(self):
        print("Current topic discussed in class is", self.current_topic)

    def get_rollno_as_str(self):
        try:
            if isinstance(self.rollno, str):
                return self.rollno
            else:
                return str(self.rollno)
        except Exception as e:
            print("Error occurred:", e)

In [ ]:
s1 = Student("John", 10, "2023-01-01", "Python")

In [ ]:
s1.get_rollno_as_str()

'10'

In [ ]:
type(s1.rollno)

int

In [ ]:
class calculator:
  def __init__(self, a, b):
    self.a = a
    self.b = b
  def add(self):
    return self.a + self.b
  def sub(self):
    return self.a - self.b
  def mul(self):
    return self.a * self.b
  def div(self):
    return self.a / self.b
  def __str__(self):
    return "This is calculator class"

In [ ]:
cal = calculator(10, 20)
print(cal)

This is calculator class

In [ ]:
class Pub_mod:
  def __init__(self, a, b):
    self.a = a
    self._bb = b
  def add(self):
    return self.a + self._bb

In [ ]:
s = Pub_mod(10, 20)

In [ ]:
s._bb

20

In [ ]:
class Rectange:
  __length =0
  __breadth = 0
  def __init__(self, length, breadth):
    self.__length = length
    self.__breadth = breadth
  def area(self):
    return self.__length * self.__breadth

In [ ]:
r = Rectange(10, 20)

In [ ]:
r.area()

200

In [ ]:
r._Rectange__breadth

20

In [ ]:
r._Rectange__length

10

In [ ]:
class Employee:
    def __init__(self, name, salary):
        self.name = name        # public
        self.__salary = salary  # private

    def show_details(self):
        print(f"Name: {self.name}, Salary: {self.__salary}")

    def update_salary(self, new_salary):
        if new_salary > 0:
            self.__salary = new_salary
        else:
            print("Invalid salary")

In [ ]:
e1 = Employee("John", 50000)
e1.show_details()
e1.update_salary(60000)
e1.show_details()

# Trying to access private variable directly (will fail)
# print(e1.__salary)  # Error

# Correct way (not recommended): Name mangling
print(e1._Employee__salary)

Name: John, Salary: 50000
Name: John, Salary: 60000
60000