<a href="https://colab.research.google.com/github/kunalga/pythonEveryDay/blob/main/day18_mongodb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.11/dist-packages (4.12.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from pymongo) (2.7.0)

In [ ]:
from pymongo import MongoClient
client = MongoClient('mongodb+srv://kunalgarg91189:kunalgarg91189@cluster0.zkeeefe.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
DB = client['db']
collection = DB['youtube']

document = {"name":"kunal garg",
            "course":"data science",
            "roll": 21
}
insert_data =collection.insert_one(document)
print(insert_data.inserted_id)

In [ ]:
many_data =[{"name":"kunal garg",
            "course":"data science",
            "roll": 21
},{"name":"kunal garg",
            "course":"data science",
            "roll": 21
},{"name":"kunal garg",
            "course":"data science",
            "roll": 21
}
 ]

In [ ]:
collection.insert_many(many_data)

InsertManyResult([ObjectId('682349dcf6ccb06b084b033c'), ObjectId('682349dcf6ccb06b084b033d'), ObjectId('682349dcf6ccb06b084b033e')], acknowledged=True)

In [ ]:
data1 ={"name":"kunal garg",
        "course":"data science",
        "roll": 21,
        "Today" : ["monday","tuesday","wednesday"]

}

In [ ]:
collection.insert_one(data1)

InsertOneResult(ObjectId('68235af8f6ccb06b084b0343'), acknowledged=True)

In [ ]:
db1 = client['mongotest']
coll = db1['test']
coll1 = db1['student']

In [ ]:
data_test ={'course_name' : ['SQL','JAVA','Python','mongoDB'],
            'Marks' : [79,80,69,70],
            'name' : 'kunal',
            'work' : 'unemployed'}

In [ ]:
data1 = {
    'name' : 'kunal',
    'instructor' : ['ram','sanjai'],
    'price' : 18600
}

In [ ]:
a2dar =[{
    'name' : 'kunal',
    'instructor' : ['ram','sanjai'],
    'price' : 18600
},
{
    'name' : 'kunal',
    'instructor' : ['ram','sanjai'],
    'price' : 18600
},{
    'name' : 'kunal',
    'instructor' : ['ram','sanjai'],
    'price' : 18600
},{
    'name' : 'kunal',
    'instructor' : ['ram','sanjai'],
    'price' : 18600
}
]

In [ ]:
coll.insert_many(a2dar)

InsertManyResult([ObjectId('68235d7ff6ccb06b084b0345'), ObjectId('68235d7ff6ccb06b084b0346'), ObjectId('68235d7ff6ccb06b084b0347'), ObjectId('68235d7ff6ccb06b084b0348')], acknowledged=True)

In [ ]:
rec = coll.find()

In [ ]:
for i in rec:
  print(i)

{'_id': ObjectId('682355c0f6ccb06b084b0340'), 'course_name': ['SQL', 'JAVA', 'Python', 'mongoDB'], 'Marks': [79, 80, 69, 70], 'name': 'kunal', 'work': 'unemployed'}
{'_id': ObjectId('68235bb2f6ccb06b084b0344'), 'name': 'kunal', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0345'), 'name': 'kunal', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0346'), 'name': 'kunal', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0347'), 'name': 'kunal', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0348'), 'name': 'kunal', 'instructor': ['ram', 'sanjai'], 'price': 18600}

In [ ]:
coll.find_one()

{'_id': ObjectId('682355c0f6ccb06b084b0340'),
 'course_name': ['SQL', 'JAVA', 'Python', 'mongoDB'],
 'Marks': [79, 80, 69, 70],
 'name': 'kunal',
 'work': 'unemployed'}

In [ ]:
rec1 = coll.find({},{'work'})

In [ ]:
for i in rec1:
  print(i)

{'_id': ObjectId('682355c0f6ccb06b084b0340'), 'work': 'unemployed'}
{'_id': ObjectId('68235bb2f6ccb06b084b0344')}
{'_id': ObjectId('68235d7ff6ccb06b084b0345')}
{'_id': ObjectId('68235d7ff6ccb06b084b0346')}
{'_id': ObjectId('68235d7ff6ccb06b084b0347')}
{'_id': ObjectId('68235d7ff6ccb06b084b0348')}

In [ ]:
coll.update_many({'name':'kunal'},{'$set':{'name':'kunal garg'}})

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff000000000000001a'), 'opTime': {'ts': Timestamp(1747151620, 6), 't': 26}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1747151620, 6), 'signature': {'hash': b'\xf7\xcf\x95\x92\xd3h0ahL\xd0`\x89\xb0\x9c\xc6\x81#\xa3g', 'keyId': 7480254367157714950}}, 'operationTime': Timestamp(1747151620, 6), 'updatedExisting': True}, acknowledged=True)

In [ ]:
ok =coll.find()

In [ ]:
for i in ok:
  print(i)

{'_id': ObjectId('682355c0f6ccb06b084b0340'), 'course_name': ['SQL', 'JAVA', 'Python', 'mongoDB'], 'Marks': [79, 80, 69, 70], 'name': 'kunal garg', 'work': 'unemployed'}
{'_id': ObjectId('68235bb2f6ccb06b084b0344'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0345'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0346'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0347'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0348'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}

In [ ]:
for i in coll.find({'instructor':['ram','sanjai']}):
  print(i)

{'_id': ObjectId('68235bb2f6ccb06b084b0344'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0345'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0346'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0347'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68235d7ff6ccb06b084b0348'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 18600}

In [ ]:
coll.update_many({'price': 18600},{'$set':{'price': 8600}})

UpdateResult({'n': 5, 'electionId': ObjectId('7fffffff000000000000001a'), 'opTime': {'ts': Timestamp(1747153253, 12), 't': 26}, 'nModified': 5, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1747153253, 12), 'signature': {'hash': b'j\x96\x0f\xfc\xa4\xc5\x18\xaa\x98\x95E\x10S\xb9\xfc\x99\xc4\xe0\xbe\xd4', 'keyId': 7480254367157714950}}, 'operationTime': Timestamp(1747153253, 12), 'updatedExisting': True}, acknowledged=True)

In [ ]:
ca =coll.find()

In [ ]:
for i in ca:
  print(i)

{'_id': ObjectId('682355c0f6ccb06b084b0340'), 'course_name': ['SQL', 'JAVA', 'Python', 'mongoDB'], 'Marks': [79, 80, 69, 70], 'name': 'kunal garg', 'work': 'unemployed'}
{'_id': ObjectId('68235bb2f6ccb06b084b0344'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 8600}
{'_id': ObjectId('68235d7ff6ccb06b084b0345'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 8600}
{'_id': ObjectId('68235d7ff6ccb06b084b0346'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 8600}
{'_id': ObjectId('68235d7ff6ccb06b084b0347'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 8600}
{'_id': ObjectId('68235d7ff6ccb06b084b0348'), 'name': 'kunal garg', 'instructor': ['ram', 'sanjai'], 'price': 8600}

In [ ]:
coll.delete_many({'instructor': ['ram', 'sanjai']})

DeleteResult({'n': 5, 'electionId': ObjectId('7fffffff000000000000001a'), 'opTime': {'ts': Timestamp(1747154407, 3), 't': 26}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1747154407, 3), 'signature': {'hash': b'\xa1?\\3\x8b\xb2\xcf\x13\xa8\xeb\xaa\x8c\xb6\x8b\xce\x03r\x88J\x88', 'keyId': 7480254367157714950}}, 'operationTime': Timestamp(1747154407, 3)}, acknowledged=True)

In [ ]:
a = coll.find()
for i in a:
  print(i)

{'_id': ObjectId('682355c0f6ccb06b084b0340'), 'course_name': ['SQL', 'JAVA', 'Python', 'mongoDB'], 'Marks': [79, 80, 69, 70], 'name': 'kunal garg', 'work': 'unemployed'}

In [ ]:
a2dar =[{
    'name' : 'Java Developer',
    'instructor' : ['ram','sanjai'],
    'price' : 18600
},
{
    'name' : 'SQL',
    'instructor' : ['Raj','sanjai'],
    'price' : 600
},{
    'name' : 'Python',
    'instructor' : ['aman','Sumit'],
    'price' : 1600
},{
    'name' : 'Spring Boot',
    'instructor' : ['ram','sanjai'],
    'price' : 18600
}
]

In [ ]:
insert_dat = coll.insert_many(a2dar)

In [ ]:
for i in coll.find():
  print(i)

{'_id': ObjectId('682355c0f6ccb06b084b0340'), 'course_name': ['SQL', 'JAVA', 'Python', 'mongoDB'], 'Marks': [79, 80, 69, 70], 'name': 'kunal garg', 'work': 'unemployed'}
{'_id': ObjectId('68237890f6ccb06b084b0349'), 'name': 'Java Developer', 'instructor': ['ram', 'sanjai'], 'price': 18600}
{'_id': ObjectId('68237890f6ccb06b084b034a'), 'name': 'SQL', 'instructor': ['Raj', 'sanjai'], 'price': 600}
{'_id': ObjectId('68237890f6ccb06b084b034b'), 'name': 'Python', 'instructor': ['aman', 'Sumit'], 'price': 1600}
{'_id': ObjectId('68237890f6ccb06b084b034c'), 'name': 'Spring Boot', 'instructor': ['ram', 'sanjai'], 'price': 18600}

In [ ]:
#Where
for i in coll.find({'price' : {'$lt' : 10000}}):
  print(i)

{'_id': ObjectId('68237890f6ccb06b084b034a'), 'name': 'SQL', 'instructor': ['Raj', 'sanjai'], 'price': 600}
{'_id': ObjectId('68237890f6ccb06b084b034b'), 'name': 'Python', 'instructor': ['aman', 'Sumit'], 'price': 1600}