<a href="https://colab.research.google.com/github/kunalga/pythonEveryDay/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Day - 4
#variable casesenstive

In [ ]:
TEN = 10
ten = 20
Ten =30
print(TEN)
print(ten)
print(Ten)

10
20
30

In [ ]:
__hiden = 10;
print(__hiden)

10

##Reserved Word

In [ ]:
##1.we shoud not use reserved words a variable names
##2.also python dosn't restrict the user to use reserved keywords as variable

In [ ]:
print = 1

In [ ]:
print("hello")

TypeError: 'int' object is not callable

In [ ]:
del print

In [ ]:
print(type(print))

<class 'builtin_function_or_method'>

##Multi Assignment of variable

In [ ]:
a, b,c = 10 , 40 ,"kunal"

In [ ]:
print(c)

kunal

In [ ]:
yes = True

In [ ]:
print(type(yes))

<class 'bool'>

In [ ]:
a,bc = 10,2

In [ ]:
#NOTE: PLESESE TRY

In [ ]:
#USER Input

In [ ]:
name = input("Enter Your name ")

Enter Your name kunal

In [ ]:
age = int(input("Enter your age "))

Enter your age 110

In [ ]:
sex = str(input("Enter your sex "))

Enter your sex 10

In [ ]:
print(type(age),type(sex),type(name))

<class 'int'> <class 'str'> <class 'str'>

In [ ]:
a = float(input("Enter first number "))
b = int(input("Enter second number "))

Enter first number 10.4
Enter second number 18

In [ ]:
#Tppe Conversion

#we can convert one type to another

In [ ]:
a = "50"
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [ ]:
a= "30.5"
print(type(a))
a = int(a)
print(type(a))

<class 'str'>

ValueError: invalid literal for int() with base 10: '30.5'

In [ ]:
#float to int
a = 30.5
print(type(a))
a = int(a)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
30

In [ ]:
#int to bool
a = 0
print(type(a))
a = bool(a)
print(type(a))
print(a)

<class 'int'>
<class 'bool'>
False

In [ ]:
#string to bol
a = ""
print(type(a))
a = bool(a)
print(type(a))
print(a)

<class 'str'>
<class 'bool'>
False

In [ ]:
name,pas = "kunal",12345
print(f"your name is {name}@kunal.com and your password is {pas}")

your name is kunal@kunal.com and your password is 12345

In [ ]:
name,age,studing = "kunal",23,"M.sc"
print(f"""your name is {name}
I am your age is {age}
I am you are studying {studing}""")

your name is kunal
I am your age is 23
I am you are studying M.sc

User Input

In [ ]:
name,age = input("Enter your name "),int(input("Enter your age "))

Enter your name kunal
Enter your age 23

In [ ]:
print(type(age))

<class 'int'>

In [ ]:
a = str(input("Enter first number "))
b = int(input("Enter second number "))
print(a,b)

Enter first number 94
Enter second number 4
94 4

In [ ]:
#int to bol
a =1
print(type(a))
a = bool(a)
print(type(a))
print(a)

<class 'int'>
<class 'bool'>
True

In [ ]:
#Memory Bloc
a = 22
b =10
c =22
id(c)

10751528

In [ ]:
id(a)

10751528

In [ ]:
id(b)

10751144

In [ ]:
a= 22
id(a)

10751528

In [ ]:
a = 10
id(a)

10751144

In [ ]:
#Memory is assignedd to value of varable passed not the valuse of name

In [ ]:
a = "kunal"
b = "kunal"
print(id(a),id(b))

135342093177136 135342093177136

In [ ]:
a = ""
b = ""
print(id(a),id(b))

10772288 10772288

In [ ]:
a =22.33
b =22.33
print(id(a),id(b))

135342094505808 135342094514064