<a href="https://colab.research.google.com/github/kunalga/pythonEveryDay/blob/main/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Agend
<h6>1. Control flow Statement<h6>
- if Else
- if elif else
- Nested if Else
2. Loops in Python
for
while

In [ ]:
amoumt = int(input("Enter amount "))
if amoumt>1000:
  dis = amoumt*0.3
  print(f"You get 30% discount {dis} ")
elif amoumt<999 and amoumt>499:
  dis = amoumt*0.25
  total = amoumt*0.75
  print(f"You get 25% discount {dis} pay : {total} ")
else:
  dis = amoumt*0.2
  print(f"You get 20% discount {dis} ")

Enter amount 500
You get 25% discount 125.0 pay : 375.0

In [ ]:
 #Nested if else
val = float(input("Enter a number "))
if val>=0:
  if val ==0:
    print("It is a Zero ")
  else:
    print("It is a positive number ")
else:
  print("It is a negative number ")

Enter a number 01
It is a positive number

In [ ]:
 ##Single Line if Else

In [ ]:
Val = float(input("Enter a number "))
if val>=99: print("It is a positive number ")
else: print("It is a negative number ")

Enter a number 77
It is a negative number

In [ ]:
val = float(input("Enter a number "))
print("It is a positive number " if val>=99 else "It is a negative number ")

Enter a number 897
It is a positive number

In [ ]:
##Loops

## Loops
1. While Loop
2. For Loop
3. do While
4. Loop Contorl
  - Break
  - continue
  - pass
5. Nested Loop

In [ ]:
total_Marks = 1000
cutoff = 400
scores = [100, 200, 300, 399, 100, 200]
# I will keep on Attempting
year = 0
isClare = False
while year < len(scores) and scores[year] <= cutoff:
  print(scores[year])
  print("I will keep on Attempting")
  year = year + 1

100
I will keep on Attempting
200
I will keep on Attempting
300
I will keep on Attempting
399
I will keep on Attempting
100
I will keep on Attempting
200
I will keep on Attempting

In [ ]:
"""
Child is Counting 10 ruppes of Note
"""
notes = 5
i = 1
while i <= notes:
  print(f"Current sum : {i*10}")
  i = i + 1

Current sum : 10
Current sum : 20
Current sum : 30
Current sum : 40
Current sum : 50

In [ ]:
 #Train journey
station = ["Station 01", "Station 02", "Station 03", "Station 04"]
Current_station = 0
destination = "Station 04"
while Current_station< len(station) :
  if station[Current_station] == destination:
    print(f"Current Station is {station[Current_station]}")
    print("Journey Completed")
    break
  print(f"Current Station is {station[Current_station]}")
  Current_station = Current_station + 1

Current Station is Station 01
Current Station is Station 02
Current Station is Station 03
Current Station is Station 04
Journey Completed

In [ ]:
#While Else
notes = 5
i = 1
while i <= notes:
  print("---------------------")
  print(f"Current sum : {i*10}")
  i = i + 1
  print("---------------------")
else:
  print("---------------------")
  print("No more 10 rs notes left")
  print("---------------------")

---------------------
Current sum : 10
---------------------
---------------------
Current sum : 20
---------------------
---------------------
Current sum : 30
---------------------
---------------------
Current sum : 40
---------------------
---------------------
Current sum : 50
---------------------
---------------------
No more 10 rs notes left
---------------------

In [ ]:
"""
while Condition is True:
  statement
else:
  statement
"""

'\nwhile Condition is True:\n  statement\nelse:\n  statement\n'

In [ ]:
# for Loop
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for j in range(0,11):
  print(j*2)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1, 10):
  print(i*"*") ## row * col

*
**
***
****
*****
******
*******
********
*********

In [ ]:
cost_of_items = [100, 200, 300, 400, 500,400,300]
total_sum = 0
for i in range(0, len(cost_of_items)):
  total_sum = total_sum + cost_of_items[i]
print(f"Total sum is {total_sum}")

Total sum is 2200

In [ ]:
#Break it complrtely stops the loop

In [ ]:
total_sum = 0
for cost in cost_of_items:
  total_sum = total_sum + cost
  print(f"Total Item is {cost}")
  if total_sum>2000:
    print("Total sum is greater than 2000")
    total_sum = total_sum - cost
    print(f"Total sum is {total_sum}")
    break
print(f"Total sum is {total_sum}")

Total Item is 100
Total Item is 200
Total Item is 300
Total Item is 400
Total Item is 500
Total Item is 400
Total Item is 300
Total sum is greater than 2000
Total sum is 1900
Total sum is 1900

In [ ]:
#break Come out of Loop

In [ ]:
for i in range(1, 10):
  if i%2 == 0:
    break;
  print(i)

1

In [ ]:
#contunue  start the Loop Again

In [ ]:
for i in range(1, 10):
  if i%2 == 0:
    continue;
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1, 10):
  if i%2 == 0:
    pass
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#pass

In [ ]:
for i in range(1,10):
  pass