<a href="https://colab.research.google.com/github/kunalga/pythonEveryDay/blob/main/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#nested List

In [ ]:
a = [[23,21,5],76,[75,65,86,[23,24,674]]]

In [ ]:
a

[[23, 21, 5], 76, [75, 65, 86, [23, 24, 674]]]

In [ ]:
a[2]

[75, 65, 86, [23, 24, 674]]

In [ ]:
a[2][3][2]

674

In [ ]:
amazon_card = [["watch",5000],["phone ",12999],["Laptop",64000]]

In [ ]:
total = 0
for item in amazon_card:
  print("------------------------") # Changed price() to print()
  print(item)
  price = item[1]
  total = total + price
  print("------------------------") # Changed price() to print()
print("total :",total)

------------------------
['watch', 5000]
------------------------
------------------------
['phone ', 12999]
------------------------
------------------------
['Laptop', 64000]
------------------------
total : 81999

In [ ]:
total =0
for item in range(len(amazon_card)):
  print(amazon_card[item])
  total = total + amazon_card[item][1]
print("total :",total)

['watch', 5000]
['phone ', 12999]
['Laptop', 64000]
total : 81999

In [ ]:
a = [1,2,3,4,5,6,7]
ans = list()
for i in range(len(a)):
  sq = a[i]**2
  ans.append(sq)
print(ans)
a

[1, 4, 9, 16, 25, 36, 49]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
ans = [elem **2 for elem in a]
ans

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#oly take the square of odd no in the List A
A = [1,2,3,4,5,6,7]
ans = [elem**2 for elem in A if elem%2 != 0]
ans

[1, 9, 25, 49]

In [ ]:
a = [1,2,3,3,[3,3,[44,3]]]

In [ ]:
a.count([3,3,[44,3]])

1

In [ ]:
a = ["kunal","kunal",1,2,3]
a.count("kunal")

2

In [ ]:
A  = "kunal"
for i in A:
  print(i)

k
u
n
a
l

In [ ]:
## Extend

In [ ]:
a = [1,2,3]
b = [11,22, 33]
a.extend(b)
print(a)
a.append(b)
print(a)

[1, 2, 3, 11, 22, 33]
[1, 2, 3, 11, 22, 33, [11, 22, 33]]

In [ ]:
#Index Method

In [ ]:
a = [11,3,4,55+2j,"sunny",1+2j]
a.index(1+2j)

5

In [ ]:
for i in range(len(a)):
  if type(a[i]) == str:
    print(a[i],"index of :",i)

sunny index of : 4

In [ ]:
for i in range(len(a)):
  if isinstance(a[i],(complex)):
    print(a[i],"index of :",i)

(55+2j) index of : 3
(1+2j) index of : 5

In [ ]:
ans = [elem for elem in a if isinstance(elem,(complex))]
ans

[(55+2j), (1+2j)]

In [ ]:
#insert
a = [11,3,4,55+2j,"sunny",1+2j]
a.insert(-1550,["kunal","kunal"])
print(a)
a.index("kunal")

[['kunal', 'kunal'], 11, 3, 4, (55+2j), 'sunny', (1+2j)]

ValueError: 'kunal' is not in list

In [ ]:
#remeove
a = [11,3,4,55+2j,"sunny",1+2j]
a.remove((1+2j))
a

[11, 3, 4, (55+2j), 'sunny']

In [ ]:
a= (22,55,32,54)
a

(22, 55, 32, 54)

In [ ]:
len(a)

4

In [ ]:
sorted(a)

[22, 32, 54, 55]

In [ ]:
a = a*2
a

(22, 55, 32, 54, 22, 55, 32, 54)

In [ ]:
max(a)

55

In [ ]:
min(a)

22

In [ ]:
a.count(22)

2

In [ ]:
sum(a)

326

In [ ]:
a

(22, 55, 32, 54, 22, 55, 32, 54)

In [ ]:
a= ("Kunal",22)

In [ ]:
a

('Kunal', 22)

In [ ]:
amazon = [("kunal", 22),("ram",21)]
type(amazon[0])

tuple

In [ ]:
#what you want to purchase
total = 0
amazon_web = [("watch",5000),("phone",12999),("Laptop",64000)]
intems = int(input("what you want to purchase "))
for item in range(intems):
  choice = input("what you want to purchase ")
  for item in amazon_web:
    if choice == item[0]:
      total = total + item[1]
      print("price :",item[1])
total

what you want to purchase 2
what you want to purchase Laptop
price : 64000
what you want to purchase phone
price : 12999

76999

In [ ]:
#sets
a = {12,134,12,11,"kunal",4.5,2,"kunal"}

In [ ]:
a = set()
type(a)

set

In [ ]:
a.add(6)

In [ ]:
a

{6}

In [ ]:
a = {1,3,5}
b ={5,64,8}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
a = [1,2,3,4,5,3,2,3]
a = set(a)
a

{1, 2, 3, 4, 5}

In [ ]:
sum(a)

15

In [ ]:
a.remove(1)

In [ ]:
a

{2, 3, 4, 5}